@import "tailwindcss";

:root {
  --background: #F4F4F4;
  --foreground: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --font-sans: "GeistMono", ui-monospace, SFMono-Regular, Menlo, Monaco, "Courier New", monospace;
  --font-mono: "GeistMono", ui-monospace, SFMono-Regular, Menlo, Monaco, "Courier New", monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
